.button{
	display: inline-block;
	font-size: 12px;
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	line-height: 36px;
	background: #1b22f5;
	width: 100%;
	max-width: 180px;
	font-family: "open Sans", arial, sans-serif;
	transition: 0.5s all ease;
	border: 2px solid transparent;
	&--blue:hover{
		border-color: #1b22f5;
		color: #1b22f5;
		background: #fff;
	}
	&--big{
		max-width: 400px;
	}
	&--black{
		background: #000;
		&:hover{
			border-color: #000;
			color: #000;
			background: #fff;
		}
	}
	&--grey{
		background: #ccc;
		cursor: default;
	}
	&--main{
		background: #118aef;
		width: 100%;
		max-width: 340px;
		line-height: 56px;
		text-transform: none;
		font-weight: 600;
		font-size: 14px;
		&:hover{
			border-color: #118aef;
			color: #118aef;
			background: #fff;
		}
	}
}
.margin-bottom{
	display: block;
	height: 20px;
}
.hashtag{
	color: #0013ff;
	font-size: 18px;
	display: inline-block;
	font-family: "open Sans", arial, sans-serif;
	&--sm{
		font-size: 14px;
		font-weight: 400;
	}
	&--medium{
		font-weight: 700;
	}
	&--big{
		font-size: 30px;
		font-weight: 900;
	}
}

h2{
	font-family: "open Sans", arial, sans-serif;
	font-size: 30px;
	font-weight: 900;
	color: #000;
	padding-bottom: 20px;
}
.checkbox{
	input[type="checkbox"]{
		display: none;
	}
	label{
		font-family: "open Sans", arial, sans-serif;
		color: #989898;
		font-size: 12px;
		letter-spacing: 0px;
		position: relative;
		padding: 0 0 10px 20px;
		line-height: 1.3;
		display: block;
		cursor: pointer;
	}
	label::before{
		content: " ";
		display: block;
		position: absolute;
		width: 10px;
		height: 10px;
		background: url(../img/ch-squre.jpg) 0 -98%;
		top: 5px;
		left: 0;
	}
	&--squre label::before{
		background-image: url(../img/ch-squre.jpg);
	}
	&--circle label::before{
		width: 14px;
		height: 14px;
		background: url(../img/ch-circle.jpg) 0 -62%;
		top: 1px;
	}
	input[type="checkbox"]:checked+label::before{
		background-position: 0 0;
	}
	&--circle input[type="checkbox"]:checked+label::before{
		background-position: 0 0;
	}
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

